* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
}

.nav-btn {
  padding: 8px 20px;
  background: white;
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 20px;
  color: hsl(322, 100%, 66%);
  cursor: pointer;
}

.heading-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.heading-body p {
  margin: 15px 30px;
  color: hsl(192, 100%, 9%);
  max-width: 520px; 
}

.heading-body button {
  margin-bottom: 80px;
  padding: 15px 50px;
  font-size: 1rem;
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}
.heading-img{
  height:650px;
}

.footer-icons{
  margin-top: 50px;
  display: flex;
  gap: 20px;
}    

.numbers {
  display: flex;
  justify-content: center;
  gap: 400px;
  text-align: center;
  margin-top: 70px;
}

.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.numbers-number {
  font-weight: 700;
  font-size: 4.2rem;
}
.stat-item img{
  margin-right: 155px;
}
.numbers p {
  margin-top: -10px;
}

.grow-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(207, 100%, 98%);
  padding: 30px;
  text-align: start;
}

.set-image{
  display: block;
  margin: 0;
  padding: 0;
}

.grow-text-content {
  padding-left: 50px;
  max-width: 580px;
}

.grow-text-content h1 {
  font-size: 2.5rem;
  color: hsl(192, 100%, 9%);
  margin-bottom: 20px;
}

.grow-text-content p {
  font-size: 1.02rem;
  color: hsl(192, 100%, 9%);
}

.grow-content img {
  width: 35%;
}

.flowing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;
  text-align: start;
  max-width: 1300px; 
  margin: auto; 
}

.flowing-content {
  max-width: 700px; 
  padding-left: 20px;
}

.flowing-content h1 {
  font-size: 2.5rem;
  color: hsl(192, 100%, 9%);
  margin-bottom: 20px;
}

.flowing-content p {
  font-size: 1.02rem;
  color: hsl(192, 100%, 9%);
  line-height: 1.6;
  max-width: 700px; 
}
.ready{ 
  padding: 50px;
  margin-top: 80px;
}

.ready button{
  margin-top: 30px;
  padding: 15px 60px;
  margin-bottom: 90px;
}

.footer-content{
  background-color: rgb(0, 37, 46);
  color: #fff;
  padding: 50px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.footer-content h1{
  font-size: 2.7rem;
}
.footer-heading-left{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 2px;  
}

.footer-content p{
  max-width: 370px;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.footer-contact{
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.footer-img{
  margin: 0;
  padding: 0;
  display: block;
}
.footer-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  margin-left: 300px;
}

.footer-right input {
  width: 330px;
  padding: 11px;
  border: none;
  background-color: none;
  border-radius: 5px;
}

.footer-right-container{
  display: flex;
  gap: 20px;  
  align-items: center;
}

.footer-right button{
  /* margin-bottom: 80px; */
  padding: 11px 30px;
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 375px) and (max-width:768px){
  .nav {
    padding: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
  }
  
  .nav img{
    height: 20px;
  }
  .nav-btn {
    padding: 3px 15px;
    font-size: 0.7rem;
  }

  .heading-body {
    margin-top: 70px;
    padding: 10px;
  }

  .heading-body h1 {
    font-size: 1.68rem;
  }

  .heading-body p {
    font-size: 0.9rem;
    max-width: 95%;
  }

  .heading-body button {
    padding: 12px 40px;
    font-size: 0.9rem;
  }
  .heading-img{
    height: 200px;
  }
  .numbers {
    flex-direction: column;
    gap: 0px;
  }

  .numbers-number {
    font-size: 3rem;
  }
  .number-item p{
    font-size: 0.7rem;
  }
  .number-item img{
    width: 20px;
    height: 20px;
    margin-right: 110px;
  }
  .grow-content {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }


  .grow-text-content {
    padding: 20px;
  }
  .grow-content p {
    font-size: 0.7rem;
  }
  .grow-text-content h1 {
    font-size: 1.5rem;
  }

  .flowing {
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
  }

  .flowing-content h1 {
    font-size: 1.5rem;
  }

  .flowing-content p {
    font-size: 0.7rem;
  }

  .ready {
    padding: 20px;
    text-align: center;
  }

  .ready button {
    padding: 12px 40px;
  }
  
  .footer-content {
    flex-direction: column-reverse;
    padding: 30px;
    text-align: start;
    align-items: start;
  }

  .footer-content h1 {
    font-size: 1.8rem;
  }
  .footer-right {
    margin-left: 0;
    margin-bottom: 90px;
    align-items: start;
  }
  .footer-right button{
    align-self: flex-end;
    padding: 9px 20px;
  }
  .footer-right input {
    width: 320px;
  }
  .footer-content p{
    font-size: 0.7rem;
  }
  .footer-right-container {
    flex-direction: column;
    gap: 20px;
  }
}